@using System.Data;

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        h4 {
            text-align: center;
            color: blue;
        }
        .add-new-button {
            background-color: #28a745; /* Green color */
            color: #fff; /* White text color */
            border: none;
            border-radius: 5px; /* Rounded corners */
            padding: 10px 20px; /* Adjust padding as needed */
            font-size: 16px; /* Adjust font size as needed */
            /*/float: right; /* Adjust margin to position it to the right */
            margin-left: auto; /* Auto margin left to push it to the right */
            display: flex; /* Use flexbox to control layout */
        }
        .close {
            color: red;
            font-size: 20px;
            font-weight: bold;
        }
    </style>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Danh Sách Theo Dõi Giao Hàng</title>
    <meta content="" name="description">
    <meta content="Author" name="MJ Maraz">
    <link href="~/assets/images/logo.png" rel="icon">
    <link href="~/assets/images/favicon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- ========================================================= -->


    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/datatables.min.css">






</head>
<!-- =============== Design & Develop By = MJ MARAZ   ====================== -->

<body style="background-color: #e0e8ee ">
    @*<div class="tab-control" style="position:fixed;bottom:50px">
        <ul class="tabs" style="background-color: #1d1b31">
            <li class="tab selected"><a href="/Home/About" style="padding-right:5px">Home</a></li>

        </ul>
    </div>*@


    <header class="header_part" style="background-color: #aec9e0; color: #3483bd ">
        @if (Request.Cookies["UserName"].Value == "admin-cnct" || Request.Cookies["UserName"].Value == "admin-cntg" || Request.Cookies["UserName"].Value == "admin-cnmd" || Request.Cookies["UserName"].Value == "admin-cnh1" || Request.Cookies["UserName"].Value == "admin-cnvt"
        || Request.Cookies["UserName"].Value == "admin-cnnt" || Request.Cookies["UserName"].Value == "admin - cndn" || Request.Cookies["UserName"].Value == "admin - cnna" || Request.Cookies["UserName"].Value == "admin - cnhn")
        {



        <a href="/Home/About1" style="cursor:pointer">
            <img src="~/Images/opc.png" style="height:60px;width:60px;margin-left:10px">
        </a>
        }
        else
        {
        <a href="/Home/About" style="cursor:pointer">
            <img src="~/Images/opc.png" style="height:60px;width:60px;margin-left:10px">
        </a>
        }
        <h4 style="color:#3483bd">Danh Sách Theo Dõi Giao Hàng</h4>
    </header>
    <!-- =======  Data-Table  = Start  ========================== -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button type="button" id="addNewBtn" class="add-new-button">Thêm mới</button>
                <div id="imageModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="modalImg">
                </div>
                <div class="data_table">
                    <table id="example" class="table table-striped table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>Ngày Hợp Đồng</th>
                                <th>Số Hợp Đồng</th>
                                <th>Mã Đt</th>
                                <th>Tên Đt</th>
                                <th>Ngày Bắt Đầu</th>
                                <th>Ngày Kết Thúc</th>
                                <th>Tên SP Trưng bày</th>
                                <th>Mức Trả Thưởng</th>
                                <th>Option 1</th>
                                <th>Option 2</th>
                                <th>Hình 1</th>
                                <th>Hình 2</th>
                                <th>Hình 3</th>
                                <th>Mã Đvcs</th>
                                <th></th>
                                <th hidden>STT</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (DataRow row2 in Model.Tables[0].Rows)
                            {
                            var hinh1 = row2["Hinh_1"] != DBNull.Value ? Convert.ToBase64String((byte[])row2["Hinh_1"]) : "";
                            var hinh2 = row2["Hinh_2"] != DBNull.Value ? Convert.ToBase64String((byte[])row2["Hinh_2"]) : "";
                            var hinh3 = row2["Hinh_3"] != DBNull.Value ? Convert.ToBase64String((byte[])row2["Hinh_3"]) : "";
                            <tr>
                                <td style="text-align:right">@row2["Ngay_Ct"]</td>
                                <td style="text-align:right">@row2["So_CT"]</td>
                                <td style="text-align:right" class="NV_GN">@row2["Ma_Dt"]</td>
                                <td>@row2["Ten_Dt"]</td>
                                <td>@row2["Ngay_Bat_Dau"]</td>
                                <td>@row2["Ngay_Ket_Thuc"]</td>
                                <td>@row2["Ten_SP"]</td>
                                <td>@row2["Tien_TB"]</td>
                                <td>@row2["Option_1"]</td>
                                <td>@row2["Option_2"]</td>
                                <td>
                                    @if (!String.IsNullOrEmpty(hinh1))
                                    {
                                    <img src="data:image/png;base64,@hinh1" alt="Image 1" style="width: 100px; height: auto;" data-clickable="true" />
                                    }
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(hinh2))
                                    {
                                    <img src="data:image/png;base64,@hinh2" alt="Image 2" style="width: 100px; height: auto;" data-clickable="true" />
                                    }
                                </td>
                                <td>
                                    @if (!String.IsNullOrEmpty(hinh3))
                                    {
                                    <img src="data:image/png;base64,@hinh3" alt="Image 3" style="width: 100px; height: auto;" data-clickable="true" />
                                    }
                                </td>
                                <td>@row2["Dvcs"]</td>
                                <td><a href="#" class="editBtn">Chỉnh Sửa</a></td>
                                <td><a href="#" class="Coppy">Xem</a></td>
                                <td hidden class="ctvid">@row2["Stt"]</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row2 in Model.Tables[0].Rows)
                            {
                            <tr>
                                <td style="text-align:right">@row2["Ma_Dt"]</td>
                                <td style="text-align:right">@row2["Ngay_Ct"]</td>
                                <td style="text-align:right">@row2["So_CT"]</td>

                                <td>@row2["Ten_Dt"]</td>
                                <td>@row2["Ten_SP"]</td>
                                <td></td>
                                <td></td>

                            </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- =======  Data-Table  = End  ===================== -->
    <!-- ============ Java Script Files  ================== -->

    <div id="footer"></div>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        // Your existing JavaScript code

        $(document).ready(function () {
            // Existing document.ready code

            $('#addNewBtn').click(function () {
                // Redirect to the specified URL when the button is clicked
                var newWindow = window.open('', '_blank');

                //window.location.href = '/congtacvien/InputCTV';
                newWindow.location.href = '/SPTrungBay/InsertSPTrungBay';
            });
        });

        $('.editBtn').click(function () {
            var Stt = $(this).closest('tr').find('.ctvid').text();
            var NV_GN = $(this).closest('tr').find('.NV_GN').text();
            var newWindow = window.open('', '_blank');
            document.cookie = "stt=" + Stt + ";path=/;expires=Fri, 31 Dec 9999 23:59:59 GMT";


            newWindow.location.href = '/SPTrungBay/UpdateSPTrungBay?Stt=' + Stt;

        });

        //$('.Coppy').click(function () {
        //    var Stt = $(this).closest('tr').find('.ctvid').text();
        //    var newWindow = window.open('', '_blank');
        //    document.cookie = "stt=" + Stt + ";path=/;expires=Fri, 31 Dec 9999 23:59:59 GMT";

        //    newWindow.location.href = '/TheoDoiGiaoHang/MauInGiaoHang?Stt=' + Stt;
        //});
    </script>
    <script>
        $(document).ready(function () {
            // Đặt sự kiện click cho từng hình ảnh
            $("img[data-clickable='true']").click(function () {
                var imgSrc = $(this).attr('src');
                // Hiển thị hình ảnh lớn trong modal
                $('#modalImg').attr('src', imgSrc);
                $('#imageModal').css('display', 'block');
            });

            // Đóng modal khi click vào nút đóng
            $(".close").click(function () {
                $('#imageModal').css('display', 'none');
            });
        });
    </script>

</body>

</html>
